<div class="wrap">
	<div class="icon32">
		<img src="{{ icon }}"/>
	</div>

	<h1>{{ title }}</h1>

	{{# message }}
	<div id="{{ message_id }}" class="{{ message_type }} fade">
		<p>{{{ message_text }}}</p>
	</div>
	{{/ message }}

	<p>...</p>
</div>